header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-family: 'Roboto', 'sans serif';
    font-weight: lighter;
    font-size: 1em;
}

.content {
				max-width: 780px;

				font-size: 22px;
				line-height: 1.2;
				text-align: justify;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				margin-left: auto;
				margin-right: auto;
				font-family: 'Helvetica', sans serif;
			}
h2 {
	font-family: 'Open Sans', sans serif;
	font-weight: 100;
	
}
#cover_image {
  				max-width: 100%;
  				display: block;
  				height: auto;
  				/*margin-top: 5%;*/
				}

.dummy {
	visibility: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid rgba(0,0,0,0.1);

}

.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e67300;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans serif;
	width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
	
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



footer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				/*background-color: #535353;*/
				color: #535353;
				line-height: 1.5;
				text-align: left;
				border-top: 1px solid rgba(0,0,0,0.1);
				align-items: center;
				margin-top: 10%;
			}

@media screen and (max-width: 600px) {
	footer {
		-webkit-flex-direction: column;
		flex-direction: column;
		background-color: rgba(230, 115, 0, 0.75);/*rgba(83, 83, 83, 0.65);*/
		color: #fff;
		text-align: center;
	}
	.content {
		font-size: 1em;
	}
	#contact {
		margin-top: 10px;
	}
	#license {
	text-align: center;
	line-height: 1.2;	
}
	#terms {
	text-align: center;
	line-height: 1.2;	
}
	/*#licensing {
		display: flex;
		flex-direction: row;
		text-align: center;
		 
	}*/
} 			

#license {
		display: flex;
		flex-direction: column;
		align-items: center;
		 
	}
#license_img {
	margin: 1em;
}

img {
	max-width: 100%;
  display: block;
  height: auto;

} 
